$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;

$black-color: #000;
$white-color: #fff;
$green-color: rgb(0, 100, 0);
$red-color: rgb(230, 0, 0);
$primary-section-bg: #eee;
$secondary-section-bg: #ddd;
$card-bg: #333;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body,
button,
input {
	font-size: 1.6rem;
	font-weight: $font-regular;
	font-family: 'Poppins', sans-serif;
	color: $black-color;
}

body {
	position: relative;
	background-color: $primary-section-bg;
	height: 200vh;
}

a {
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

.container {
	max-width: 140rem;
	width: 100%;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
}

.hide {
	display: none;
}


.white-block {
	position: absolute;
	height: 4rem;
	width: 60%;
	background-color: $primary-section-bg;

	&-left {
		bottom: 0;
		left: -5rem;
		transform: skew(45deg);
	}

	&-right {
		top: 0;
		right: -5rem;
		transform: skew(45deg);
	}
}

////////////////////////////////////////////////
///////////////////////////////////////////////
.header {
	position: fixed;
	top: 0;
	left: 0;
	height:5rem;
	width: 100%;
	z-index: 100;
	background-color: $black-color;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.nav {
	position: relative;
	height: 100%;
	justify-content: space-between;
	padding: 2rem;

	&__logo-text {
		font-weight: $font-semi-bold;
		font-size: 3rem;
		font-family: 'Raleway', sans-serif;

		&--first {
			color: $green-color;
		}
		&--second {
			color: $white-color;
		}
		&--third {
			color: $red-color;
		}
	}

	&__list {
		&--desktop {
			display: none;
		}

		&--mobile {
			row-gap: 6rem;
			position: fixed;
			flex-direction: column;
			justify-content: center;
			top: 0;
			right: -100%;
			max-width: 30rem;
			width: 100%;
			height: 100%;
			padding: 10rem 0;
			background-color: $white-color;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
			z-index: 10;
			transition: all 1s;
		}
	}

	&__link {
		padding: 1rem 3rem;
		font-size: 2rem;
		color: $black-color;
		border-bottom: 1px solid $black-color;
		transition: border-bottom 0.5s, color 0.5s, transform 0.5s;
	}

	&__burger {
		display: flex;
		padding: 1rem;
		font-size: 2rem;
		color: $black-color;
		background-color: $white-color;
		border: 1px solid $black-color;
		border-radius: 10px;
		z-index: 20;
		cursor: pointer;
		transition: background-color 3s;
	}
}

.show-navigation {
	right: 0;
}

.home {
	height: 100vh;
	width: 100%;
	padding: 10rem 0 0;

	&__container {
		position: relative;
		height: 100%;
	}

	&__header,
	&__text {
		position: absolute;
		top: 15%;
		left: 50%;
		width: 80%;
		transform: translate(-50%, -50%);
		color: $white-color;
		font-size: 3.6rem;
		font-weight: $font-semi-bold;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		z-index: 20;
		animation: blur-text 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
	}

	&__text {
		top: 30%;
		font-size: 2rem;
		animation-delay: 1s;
	}

	.swiper {
		width: 100%;
		height: 100%;

		&-slide {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.8rem;
			text-align: center;

			&--small {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&--big {
				display: none;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.4);
			}
		}

		&-button-next,
		&-button-prev {
			height: 6rem;
			width: 6rem;
			background-color: rgba(255, 255, 255, 0.3);
			color: $white-color;
			border-radius: 50%;

			&:hover {
				background-color: rgba(0, 0, 0, 0.6);
			}

			&::after,
			&::before {
				font-size: 3rem;
			}
		}

		&-pagination-bullet-active {
			background-color: $white-color;
		}
	}
}

.rome,
.naples,
.amalfi,
.procida {
	padding: 5rem 0 0;

	&__container {
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 100rem;
	}

	&__box {
		position: relative;
		width: 100%;

		&--first {
			height: 60vh;
		}

		&--second {
			padding: 3rem 2rem;
		}

		&-header {
			padding-bottom: 2rem;
			text-align: center;
			font-size: 1.4rem;
			font-weight: $font-semi-bold;
		}

		&-description {
			font-size: 1.3rem;
			text-align: justify;
			font-weight: $font-medium;
		}

		&-img {
			height: 100%;
			width: 100%;
			object-fit: cover;

			&--big {
				display: none;
			}
		}

		&-content {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 80%;
			border: 3px solid $black-color;
			background-color: rgba($primary-section-bg, 0.7);

			&-text {
				position: relative;
				padding: 1rem;
				padding-left: 1.5rem;
				font-size: 1.2rem;
				text-align: center;
				font-weight: bold;

				.bx-heart {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(-50%, -50%);
					padding: 1rem;
					color: $white-color;
					background-color: $black-color;
					border-radius: 50%;
				}
			}
		}
	}
}

.hero-img {
	position: relative;
	padding: 20rem 2rem;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	color: $white-color;
	overflow: hidden;

	&__rome {
		background-image: url('/images/rzym-paralaksa1920.jpg');
	}

	&__naples {
		background-image: url('/images/neapol-qs1920.jpg');
	}

	&__amalfi {
		background-image: url('/images/amalfi-miasto1920.jpg');
	}
	&__procida {
		background-image: url('/images/procida-miasto1920.jpg');
	}

	&__title {
		max-width: 100rem;
		margin: 0 auto;
		padding: 1rem;
		line-height: 3.5rem;
		font-size: 2.6rem;
		font-family: 'Raleway', sans-serif;
		font-weight: $font-light;
		border-top: 1px solid $white-color;
		border-bottom: 1px solid $white-color;
		background-color: rgba(0, 0, 0, 0.4);
	}

	&__text {
		padding: 1em 0;
	}
}

.needtosee {
	width: 100%;
	padding: 5rem 2rem;

	&__container {
		width: 100%;
		max-width: 140rem;
	}

	&__title {
		padding-bottom: 4rem;
		text-align: center;
	}

	&__text {
		text-align: justify;
		font-size: 1.4rem;
	}

	&__card {
		position: relative;
		max-width: 35rem;
		height: 45rem;
		margin: 3rem auto;
		color: $white-color;
		text-align: center;
		perspective: 100rem;

		&:hover {
			.needtosee__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.needtosee__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			height: 100%;
			padding: 2rem;
			border-radius: 10px;
			background-size: cover;
			background-position: bottom;
			transition: transform 1s, opacity 1s;

			&--rome {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 74%),
					url('../images/oltarz-narodow.jpg');
			}
			&--naples {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 74%),
					url('../images/wezuwiusz.jpg');
			}
			&--amalfi {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 74%),
					url('../images/positano.jpg');
			}
			&--procida {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 74%),
					url('../images/zamek.jpg');
			}

			&-title {
				font-weight: $font-semi-bold;
				font-size: 2.6rem;
				font-family: 'Raleway', sans-serif;
			}

			&-info {
				position: absolute;
				bottom: 2rem;
				right: 2rem;
				font-size: 1.4rem;

				i {
					margin-right: 0.3rem;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 10px;
			transform: rotateY(180deg);
			opacity: 0;
			transition: transform 1s, opacity 1s;
			background-size: cover;

			&--rome {
				background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%),
					url('../images/fontanna.jpg');
			}
			&--naples {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 74%),
					url('../images/pompeje.jpg');
			}
			&--amalfi {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 74%),
					url('../images/kosciol.jpg');
			}
			&--procida {
				background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 74%),
					url('../images/capri.jpg');
			}

			&-title {
				position: absolute;
				top: 2rem;
				left: 50%;
				transform: translateX(-50%);
				font-weight: $font-semi-bold;
				font-size: 2.6rem;
				font-family: 'Raleway', sans-serif;
			}

			&-list {
				width: 70%;
				margin: 0 auto;

				&-item {
					padding: 1rem;
					font-size: 1.4rem;
					border-bottom: 1px solid $white-color;

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.tips {
	position: relative;
	width: 100%;
	padding: 7rem 2rem 5rem;
	background-color: $secondary-section-bg;
	overflow: hidden;

	&__container {
		max-width: 120rem;
	}

	&__header {
		max-width: 100rem;
		margin: 0 auto;
		padding-bottom: 3rem;
		font-size: 2.4rem;
		text-align: center;
	}

	&__text {
		max-width: 100rem;
		margin: 0 auto;
		text-align: justify;
		padding-bottom: 5rem;
		font-size: 1.4rem;
	}

	&__box {
		width: 50%;
		height: 100%;
		background-color: #f00;
	}

	&__content {
		width: 100%;
		max-width: 120rem;
		display: flex;
		align-items: center;
	}

	&__tip {
		width: 100%;
		max-width: 40rem;
		font-size: 1.4rem;
		text-align: center;
		margin-bottom: 5rem;
		background-color: $white-color;
		padding: 1rem;
		border-radius: 10px;
		box-shadow: 3px 3px 3px #2e2e2e;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}
	}

	.scroll-up {
		position: fixed;
		right: 2rem;
		bottom: 2rem;
		color: #000;
		background-color: $primary-section-bg;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		border: 1px solid $black-color;
		border-radius: 50%;
		padding: 1.5rem;

		i {
			font-size: 2rem;
			font-weight: bold;
		}
	}
}
// .swiper {
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// }

// .swiper-wrapper {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// .swiper-slide {
// 	padding: 3rem;
// 	width: 25rem;
// 	max-width: 30rem;
// 	text-align: center;
// 	font-size: 18px;
// 	background: #fff;
// 	margin: 0 auto;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
/////////////////////////////////////////////
/////////////////Media QUERIES///////////////
/////////////////////////////////////////////
@media screen and (min-width: 300px) {
	.nav {
		padding: 3rem;
	}

	.home {
		&__text {
			top: 28%;
			font-size: 2.4rem;
		}
	}

	.rome,
	.naples,
	.amalfi,
	.procida {
		&__box {
			&-content-text {
				padding: 2rem;
				font-size: 1.4rem;
			}

			&-header {
				font-size: 1.8rem;
			}

			&-description {
				font-size: 1.4rem;
			}
		}

		.needtosee {
			&__title {
				font-size: 2.6rem;
			}

			&__text {
				font-size: 1.4rem;
			}
			&__card-img-title,
			&__card-info-title {
				font-size: 3rem;
			}

			&__card-img-info {
				font-size: 1.6rem;
			}
		}
	}
}

@media screen and (min-width: 576px) {
	.nav {
		&__logo-text {
			font-size: 3.6rem;
		}
	}

	.rome,
	.naples,
	.amalfi,
	.procida {
		&__box {
			&--second {
				padding: 4rem 3rem;
			}
			&-header {
				font-size: 2rem;
			}

			&-description {
				font-size: 1.6rem;
			}

			&-content {
				width: 70%;

				&-text {
					text-align: center;
					font-size: 1.6rem;
				}
			}
		}
	}

	.hero-img__title {
		padding: 1rem 5rem;
		font-size: 2.8rem;
	}

	.needtosee {
		padding: 7rem 3rem 5rem;

		&__title {
			font-size: 2.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.tips {
		padding: 7rem 3rem 5rem;

		&__header {
			font-size: 2.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.header {
		height: 12rem;
	}

	.nav {
		&__logo-text {
			font-size: 4rem;
		}

		&__burger {
			font-size: 2.4rem;
		}
	}

	.home {
		padding-top: 12rem;

		&__header {
			top: 20%;
		}

		.swiper {
			&-slide {
				&--big {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&--small {
					display: none;
				}
			}

			&-button-next,
			&-button-prev {
				height: 7rem;
				width: 7rem;
				margin: -2rem 3rem;
			}
		}
	}

	.rome,
	.naples,
	.amalfi,
	.procida {
		&__box {
			&-img {
				&--small {
					display: none;
				}
				&--big {
					display: block;
				}
			}
			&-header {
				font-size: 2rem;
			}

			&-description {
				font-size: 1.6rem;
			}

			&-content {
				width: 70%;
				&-text {
					font-size: 1.8rem;
					text-align: center;
				}
			}
		}
	}

	.needtosee {
		&__cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			margin: 2rem 0;
		}

		&__card {
			width: 45%;
			max-width: 35rem;
			margin: 3rem 1rem;
		}
	}
}

@media screen and (min-width: 992px) {
	.nav {
		&__list {
			&--mobile {
				display: none;
			}

			&--desktop {
				display: flex;
			}
		}

		&__burger {
			display: none;
		}

		&__item {
			margin: 0 0.5rem;
			:hover {
				border-bottom: 1px solid $white-color;
			}
		}

		&__link {
			padding: 1rem;
			font-size: 1.6rem;
			color: $white-color;
			border-bottom: 1px solid $black-color;
		}
	}

	.home {
		&__header {
			font-size: 4.6rem;
		}

		&__text {
			font-size: 3rem;
		}
	}

	.rome,
	.naples,
	.amalfi,
	.procida {
		&__container {
			flex-direction: row;
			justify-content: space-between;
			padding: 2rem 2rem 7rem;
		}

		&__box {
			width: 46%;

			&-content {
				width: 80%;
				right: -15%;
			}

			&-header {
				font-size: 2.2rem;
				padding-bottom: 4rem;
			}
			&-description {
				font-size: 1.8rem;
				line-height: 2.8rem;
			}
		}
	}

	.hero-img {
		padding: 25rem 2rem;
	}

	.needtosee {
		padding: 7rem 5rem;

		&__text {
			font-size: 1.8rem;
		}

		&__title {
			font-size: 3rem;
		}

		&__container {
			margin: 0 auto;
			max-width: 100rem;
		}

		&__card {
			max-width: 35rem;
		}
	}

	.tips {
		&__header {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.needtosee {
		&__card {
			width: 35rem;
		}
	}
}

@keyframes blur-text {
	0% {
		filter: blur(0.01);
	}
	100% {
		filter: blur(12px) opacity(0);
	}
}
